@import "tailwindcss";

@layer components{
  .city-btn {
    @apply px-2 py-1 text-sm border border-gray-200 rounded-sm shadow cursor-pointer transition duration-300 hover:bg-blue-600 hover:text-white;
  }
  .nav{
    @apply flex items-center gap-1 whitespace-nowrap
  }
  .line{
    @apply h-px bg-gray-400 w-24 sm:w-52 lg:w-64
  }
}

